@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #10141E;
}
.sidebar-container{
    background-color: #161D2F;
    display: flex;
    justify-content: space-between;
    padding: 18px 16px;
    .logo{
        color: #FC4747;
    }
    .profile{
        color: #5A698F;
    }
}
.sidebar-icons{
    display: flex;
    flex-direction: row;
    gap: 24px;
    i{
        color: #5A698F;
    }
}
.sidebar-icons i:hover{
    color: white;
}
.loading-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loading{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid black;
    border-top:5px solid white ;
    animation: rotate 2s infinite;
}
@keyframes rotate{
    100%{
      rotate: 360deg;
    }
}
.films-container{
    padding-inline: 16px;
    h1{
        font-family: Outfit;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: -0.31px;
        color: white;
        margin-bottom: 24px;
    }
}
.movies-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 16px;
    margin-bottom: 24px;
}
.movie-card{
    img{
        height: 110px;
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
        margin-bottom: 8px;
    }
    h3{
        font-family: Outfit;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: white;
    }
}
.info{
    display: flex;
    color: white;
    gap: 6px;
    font-family: Outfit;
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    margin-bottom: 4px;
    i{
        margin-right: 4px;
    }
    p{
    text-transform: capitalize;

    }
}
.image-container{
    position: relative;
}
.bookmark-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 9px 10px;
    border-radius: 50%;
    border: none;
    background: rgba(16, 20, 30, 0.5006);
    i{
        color: white;
    }
}
.header{
    font-family: Outfit;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.31px;
    color: white;
    margin-bottom: 24px;
    padding-inline: 16px;
}